<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>122902680367-23mc7gbd25flk9uinlqqs175uqrs1mp8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.122902680367-23mc7gbd25flk9uinlqqs175uqrs1mp8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>122902680367-8rmjak2i12tki9u5aqpk0o8l8goi70ov.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAGCJzNIKJGu6KX_iUZVIcy06xFVjIny4g</string>
	<key>GCM_SENDER_ID</key>
	<string>122902680367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled</string>
	<key>PROJECT_ID</key>
	<string>untitled-c9b48</string>
	<key>STORAGE_BUCKET</key>
	<string>untitled-c9b48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122902680367:ios:6810c35cc80f8d5ff307da</string>
</dict>
</plist>